.header {
  backdrop-filter: blur(50px);
  background: linear-gradient(
    252deg,
    rgba(212, 91, 120, 0.9) 0.01%,
    rgba(75, 56, 98, 0.9) 100%
  );
  /* background-color: #d75c78; */
  padding: 12px;
}
.navigation {
  display: flex;
  justify-content: space-between;
}

.navIcon {
  fill: #f2f2f2;
}

.navList {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
}

.navItem {
  text-transform: uppercase;
  border: 1px solid #523a64;
  padding: 4px;
}
.navItem:hover {
  background-color: #523a644c;
}
.active,
.active:focus {
  background-color: #523a64;
}
